<h1>LOGIN</h1>

<div class="row">
    <form class="col s12"  method="POST" action="/auth/login">
        
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="text" placeholder="placeholder" name="email">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="password" name="password">
          <label for="password">Password</label>
        </div>

      </div>
        <div class="col s12">
            <button class="btn waves-effect waves-light indigo lighten-3" type="submit">
                Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
  </div>