<% if(alerts && alerts.error) { %>
    <div class="card red lighten-1" style="margin-top: 0; color: white;">
        <div class="card-content" style="padding: 10px;">
            <% alerts.error.forEach(e => { %>
                <p>Error: <%= e %></p>
                <% }) %>
            </div>
        </div>
<% } %>

<% if(alerts && alerts.success) { %>
    <div class="card green lighten-1" style="margin-top: 0; color: white;">
        <div class="card-content" style="padding: 10px;">
            <% alerts.success.forEach(e => { %>
                <p><%= e %></p>
                <% }) %>
            </div>
        </div>
<% } %>