<div class="row">
    <div class="row">
        <div class="col s3"></div>
        <div class="col s3 yellow darken-1">
            <form method="GET" action="/search">
                <input type="text" name="zip" class="">
                <label for="zip" name="Search By Neighborhood">search by neighborhood</label>
                <button type="submit">submit</button>
            </form>
        <div class="col s3 yellow darken-1">
            <input type="text" name="produce" class="">
            <label for="neighborhood" name="Search By Neighborhood">search by produce</label>
        </div>
    </div>

    <div class="col s12" id="mappy">
    <div id="map">
                        <script>
                            // let lat = document.getElementById('lat').textContent
                            let lat = 47.6038
                            // let long = document.getElementById('long').textContent
                            let long = -122.3301
                            console.log(lat, long)
                            mapboxgl.accessToken = '<%= mapkey %>';
                            var map = new mapboxgl.Map({
                                container: 'map', // container id
                                style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                                center: [long, lat], // starting position [lng, lat]
                                zoom: 12 // starting zoom
                            });
                            let geojson = {
                                type: 'FeatureCollection',
                                features: [{
                                    type: 'Feature',
                                    geometry: {
                                        type: 'Point',
                                        coordinates: [long, lat]
                                    },
                                properties: {
                                    title: 'Mapbox',
                                    description: 'map'
                                }
                                }]
                            };
                            // geojson.features.forEach((marker) => {
                            //     let elem = document.createElement('div')
                            //     elem.className = 'marker'
                            //     new mapboxgl.Marker(elem)
                            //     .setLngLat(marker.geometry.coordinates)
                            //     .addTo(map)
                            // })
                        </script>
    </div>
    </div>
</div>

<div  class="container yellow darken-1" id="postBox">
    <% post.forEach(function(p) { %>
    <div class="row">
        <div class="col s3" >
            <img src="https://placekitten.com/150/150">
        </div>
            <div class="col s9 brown-text text-darken-1">
                <p>offer: <%=p.offer%></p>
                <p>Trade: <%=p.trade%></p>
                <p>Description: <%=p.postContent%></p>
            </div>
        </div>
        <% })%>
</div>