
<h3>WELCOME TO</h3>
<h1>NEIGHBORHOOD FARMSTAND</h1>

<div class="row">
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4 yellow darken-1 z-depth-2">
            <form method="GET" action="/search">
                <input type="text" name="zip" class="">
                <label for="zip" name="Search By Neighborhood">search by neighborhood</label>
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
</div>

<h1>Latest Bounties!</h1>
<div  class="container" id="postContainer">
    <% post.forEach(function(p) { %>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6 z-depth-2" id="postBoxy" >
                <div class="card small  brown darken-2">
                    <div>
                      <img class="activator" src="https://placekitten.com/150/150">
                      <p><%=p.postContent%></p>
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                  </div>
            </div>
            <div class="col s3"></div>
        </div>
        <% })%>
</div>
