
<h3>WELCOME TO</h3>
<h1>NEIGHBORHOOD FARMSTAND</h1>

<div class="row">
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4 yellow darken-1 z-depth-2">
            <form method="GET" action="/search">
                <input type="text" name="zip" class="">
                <label for="zip" name="Search By Neighborhood">search by neighborhood</label>
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
</div>

<h1>Latest Bounties!</h1>
<div  class="container" id="postContainer">
    <% post.forEach(function(p) { %>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6 z-depth-2" id="postBoxy" >
                <div>
                    <img src="https://placekitten.com/150/150">
                </div>
                <div class="col s12 brown-text text-darken-1">
                    <p>offer: <%=p.offer%></p>
                    <p>Trade: <%=p.trade%></p>
                    <p>Description: <%=p.postContent%></p>
                </div>
            </div>
            <div class="col s3"></div>
        </div>
        <% })%>
</div>
