.mainBody {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("https://res.cloudinary.com/dg0v67kcj/image/upload/v1588197828/farmstandbackground2_wmmxi7.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#postBoxy {
    background-color: rgba(141, 110, 99, .8);
}

#postImg {
    height: 175px;
}

main {
    flex: 1 0 auto;
  }

.logo {
    font-size: 2.1em;
}

nav li a {
    color: #5d4037
}

#textTop {
    font-size: 15px;
}

#textFooter {
    font-style: italic;
}

#postContainer {
    height: 500px;
    overflow: scroll;
    padding: 10px;
}

#html, #body, #map-container {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map { 
    height: 400px;
    width: 50%;
    margin: 50px auto;
};


