html,

body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.logo {
    font-size: 2.1em;
}

nav li a {
    color: #5d4037
}

#html, #body, #map-container {
    height: 100%;
}

#map {
    height: 40%;
}
#mappy {
    margin:10px;
}

#postList {
    margin-top: 10px;
    height: 300px;
    overflow: scroll;
}